:root {
  --lightTheme: #cfa02e;
  --theme: #2f2c26;
  --white: #fff;
}

aside {
  width: 250px;
  background-color: var(--lightTheme);
  color: var(--theme);
  min-height: 100vh;
}

aside img {
  width: 140px;
  margin: 10px;
  filter: invert(1);
}

aside .fixed-bottom,
.fixed-top {
  width: 250px;
  max-height: 450px;
  overflow: auto;
}

aside h5 {
  border-bottom: 1px solid #a98326;
}

aside ul {
  position: sticky;
  top: 0;
}

.main-container {
  width: calc(99% - 250px);
  padding: 1rem;
}

label {
  font-weight: 500;
  display: block;
}

aside a.btn {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
}

a.btn.active {
  background: #000;
  color: #fff;
  border: none;
  text-align: left;
  border-radius: 0;
}

// ====== loader =========
.three {
  width: 100%;
}

/* COLUMNS */

.coll {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;

  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.coll:first-of-type {
  margin-left: 0;
}

.three {
  padding: 50px 0;
}

/* ALL LOADERS */

.loader {
  width: 100%;
  height: 100px;
  background-color: transparent !important;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

/* LOADER 2 */

#loader-2 span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--lightTheme);
  margin: 35px 5px;
}

#loader-2 span:nth-child(1) {
  animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2) {
  animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3) {
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce {
  0%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;

  .card {
    display: flex;
    align-items: center;

    .bg-theme {
      background-color: var(--lightTheme);
    }

    .welcome-msg {
      display: grid;
      place-content: center;
      height: 100%;
      color: var(--white);
      text-align: center;
    }

    input::placeholder {
      color: #cecece;
    }
  }
}

// Section Toggle button
.form-switch .form-check-input {
  width: 3em;
  margin-left: -3.5em;
  padding: 10px;
}

.section-item {
  padding: 10px;
  margin: 5px 0;
  background-color: #dbdbdb;
  border: 1px solid #9b9b9b;
  cursor: grab;
}

.section-item:hover {
  background-color: #eaeaea;
}
